<div id="profile">

    <div class="container position-relative">

        <div class="row">
            <div class="col-6">
                <div>
                    <p><strong>Level: </strong> {{person.level}}</p>
                    <p><strong>XP: </strong> {{person.xp}}</p>
                    <p><strong>Penalty points: </strong> {{person.penaltyPoints}}</p>
                </div>
            </div>
        
           
        </div>
        <div class="row">
            <div class="col-12 text-center mt-5">

                <img src="{{person.picture}}" height="220">
                <h1 class="m-4" style="font-size:xx-large">{{person.name}} {{person.surname}}</h1>

                <p class="text-center m-2 mb-3">{{person.bio}}</p>

                <p class="text-center m-2"><i>{{person.quote}}</i></p>


                <button (click)="editProfile(person)" type="button" class="btn btn-secondary m-3" data-bs-toggle="modal"
                    data-bs-target="#EditProfileFormModal">
                    Edit profile
                </button>

                <button type="button" class="btn btn-primary m-3" data-bs-toggle="modal"
                    data-bs-target="#ProfileFollowersModal">
                    Followers
                </button>

                <div class="modal fade" id="EditProfileFormModal" data-bs-backdrop="static" tabindex="-1"
                    aria-labelledby="EditProfileFormModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="EditProfileFormModalLabel">Edit profile</h1>
                                <button class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                <xp-profile-form [profile]="selectedProfile" (profileUpdated)="getUser()">
                                </xp-profile-form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="ProfileFollowersModal" data-bs-backdrop="static" tabindex="-1"
                    aria-labelledby="ProfileFollowersModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="ProfileFollowersModalLabel">Followers</h1>
                                <button class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                <div *ngFor="let follower of this.user.followers" class="card m-2">
                                    <div class="card-body">
                                        <h3 class="card-title">{{follower.username}}</h3>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
</div>