<form [formGroup]="registrationForm" (ngSubmit)="register()">
    <div class="row d-flex">
        <div class="form-group mb-3">
            <label>Name</label>
            <input class="form-control" formControlName="name" type="text"/>
        </div>
        <div class="form-group mb-3">
            <label>Surname</label>
            <input class="form-control" formControlName="surname" type="text"/>
        </div>
        <div class="form-group mb-3">
            <label>Username</label>
            <input class="form-control" formControlName="username" type="text"/>
        </div>
        <div class="form-group mb-3">
            <label>Email</label>
            <input class="form-control" formControlName="email" type="text"/>
        </div>
        <div class="form-group mb-3">
            <label>Password</label>
            <input class="form-control" formControlName="password" type="password"/>
        </div>
        <div class="form-group mb-3">
            <label>Confirm Password</label>
            <input class="form-control" formControlName="confirmPassword" type="password"/>
            <div *ngIf="passwordMismatch" class="text-danger">
                Passwords do not match.
            </div>
        </div>
        <div class="form-group mb-3">
            <label>Country</label>
            <input class="form-control" formControlName="country" type="text"/>
        </div>
        <div class="form-group mb-3">
            <label>City</label>
            <input class="form-control" formControlName="city" type="text"/>
        </div>
        <div class="form-group mb-3">
            <label>Phone</label>
            <input class="form-control" formControlName="phone" type="text"/>
        </div>
        <div class="form-group mb-3">
            <label>Profession</label>
            <input class="form-control" formControlName="profession" type="text"/>
        </div>
        <div class="form-group mb-3">
            <label>Firm name</label>
            <input class="form-control" formControlName="firmName" type="text"/>
        </div>

    <button color="primary" type="submit" class="btn btn-primary btn-block">Create account</button>
    </div>
</form>