<div id="equipment">
    <p>Equipment</p>
    <input type="text" [(ngModel)]="searchTerm" placeholder="Search by name">
    <select [(ngModel)]="selectedType">
        <option value="" selected>All Types</option>
        <option value="0">Machine</option>
        <option value="1">Sensor</option>
        <option value="2">Monitor</option>
        <option value="3">Table</option>
    </select>
    
    <button (click)="applySearchFilter()">Filter</button>
    
    <hr>
    <div id="equipment-details">
        <div>
            <ul>
                <li *ngFor="let eq of filteredEquipment">
                    <div class="equipment-info">
                        <strong>Name:</strong> {{eq.name}} <br>
                        <strong>Description:</strong> {{eq.description}} <br>
                        <strong>Type:</strong> {{ getTypeString(eq.type) }} <br>
                      </div>
                    
                    <div class="button-container">
                        <button class="show-companies-btn" (click)="getCompaniesForEquipment(eq)">Show Companies</button>
                      </div>
                    
                    <div *ngIf="selectedEquipment === eq">
                        
                        <table>
                        <thead>
                            <tr>
                            <th class="column-header">Company name</th>
                            <th class="column-header">Company address</th>
                            <th class="column-header">Company description</th>
                            
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let company of companiesForSelectedEquipment">
                            <td class="column-header">{{ company.name }}</td>
                            <td class="column-header">{{ company.address }}</td>
                            <td class="column-header">{{ company.description }}</td>
                            <td>
                                <button class="view-appointments-btn" (click)="viewAppointments(company)">View Appointments</button>
                            </td>
                            </tr>
                        </tbody>
                        </table>
                     
                        <div *ngIf="viewAppoints && appointmentsForSelectedCompany.length > 0">
  
                        <h2 >Appointments for {{ selectedCompany.name }}</h2>
                        <table >
                            <thead>
                                <tr>
                                    <th class="column-header">Date and time</th>
                                    <th class="column-header">Admin name</th>
                                    <th class="column-header">Admin surname</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let appointment of appointmentsForSelectedCompany">
                                    <td class="column-header">{{ appointment.start }}</td>
                                    <td class="column-header">{{ appointment.adminName }}</td>
                                    <td class="column-header">{{ appointment.adminSurname }}</td>
                                    <td  *ngIf="user && user.role === 'staff' ">
                                        <button class="res-appointments-btn" (click)="changeReservedStatus(appointment)">Reserve</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                      
                        </div>
                        <div *ngIf="viewAppoints && appointmentsForSelectedCompany.length == 0">
                        
                            <h3>No available appointments</h3>
                          </div>
                </div>
                </li>
            </ul>
        </div>
    </div>
</div>