<div id="equipment">
    <p>Equipment</p>
    <input type="text" [(ngModel)]="searchTerm" placeholder="Search by name">
    <select [(ngModel)]="selectedType">
        <option value="" selected>All Types</option>
        <option value="0">Machine</option>
        <option value="1">Sensor</option>
        <option value="2">Monitor</option>
        <option value="3">Table</option>
    </select>
    
    <button (click)="applySearchFilter()">Filter</button>
    
    <hr>
    <div id="equipment-details">
        <div>
            <ul>
                <li *ngFor="let eq of filteredEquipment">
                    <strong>Name:</strong> {{eq.name}} <br>
                    <strong>Description:</strong> {{eq.description}} <br>
                    <strong>Type:</strong> {{ getTypeString(eq.type) }} <br>
                </li>
            </ul>
        </div>
    </div>
</div>
